{% extends 'base.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}

{% block content %}
<section class="getintouch">
    <div class="container text-center modern-form">
        <div class="text-center">
            <h4 style="color: #212529;font-size: 45px;">About Us</h4>
        </div>
        <hr class="modern-form__hr">
        <div class="modern-form__form-container">
            <h3>THIS IS AN OPEN-SOURCE ECOMMERCE WEBSITE PROJECT<br><br></h3>
            <h5>GITHUB REPOSITORY - <a href="https://github.com/ahlawataman/Ecommerce-Website-Django">Link</a><br><br>
            </h5>
        </div>
    </div>
</section>
{% endblock %}